<!DOCTYPE html>
<html>
  <head>
    <title>Create Bird</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='container'>
      <h1>Create Bird</h1>
      <form method='post' action='/birds/create'>
        <div class='form-group'>
          <label for='species'>Species</label>
          <input type='text' class='form-control' id='species' name='species'>
        </div>
        <div class='form-group'>
          <label for='nickname'>Nickname</label>
          <input type='text' class='form-control' id='nickname' name='nickname'>
        </div>
        <div class='form-group'>
          <label for='status'>Status</label>
          <input type='text' class='form-control' id='status' name='status'>
        </div>
        <button type='submit' class='btn btn-primary'>Create</button>
      </form>
    </div>
  </body>
</html>