<!DOCTYPE html>
<html>
  <head>
    <title>Bird Created</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='container'>
      <h1>Bird Created</h1>
      <p>Your bird has been created successfully.</p>
    </div>
  </body>
</html>